<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{meta_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{meta_title}}</title>
     <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
         <script src="{{asset "js/main.js"}}"></script>
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}" />
    <link rel="stylesheet" href="{{asset "css/sup-styles.css"}}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset "css/keyframes.css"}}">
    <link rel="stylesheet" href="{{asset "css/pageTransitions.css"}}">
    <script src="{{asset "js/jquery.smoothState.js"}}"></script><script src="{{asset "js/smoothfunctions.js"}}">
    </script><script src="{{asset "js/wow.js"}}"></script>
    <script src="{{asset "js/scripts.js"}}"></script>
     
    <link rel="stylesheet" href="{{asset "css/animate.css"}}">
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
    
   
    {{ghost_head}}
  </head>
  <body>
      {{navigation}}

        {{{body}}}
      
    {{ghost_foot}}
  </body>
</html>
